image: ubuntu:latest
#services:
#    - "node:latest"

before_script:
 - echo "Before script section"
 - echo "Installing Java..."
 - apt-get update && apt-get -y install openjdk-8-jdk  && apt-get -y install ant
 - echo "Java installed!"
 - echo "Installing NodeJS..."
# - apt-get -y install nodejs 14.4.0
 - apt-get -y install curl
 - cd ~
 - curl -sL https://deb.nodesource.com/setup_18.x -o nodesource_setup.sh
 - bash nodesource_setup.sh
 - apt-get -y install nodejs
 - echo "NodeJS installed!"
# - echo "Installing npm..."
# - apt-get -y install npm
# - echo "npm installed!"
 - nodejs -v
 - npm version


stages:          # List of stages for jobs, and their order of execution
# - build
  - test

#build:       # This job runs in the build stage, which runs first.
#  only:
#    - merge_requests
#  stage: build
#  script:
#    - echo "building..."
#    - cd backpack
#    - npm install
#    - npm run build
#    - echo "built successfully"

test:   # This job runs in the test stage.
  only:
    - merge_requests
  stage: test    # It only starts when the job in the build stage completes successfully.
  script:
    - echo "testing..."
    - cd backpack
    - npm install
    - npm install -g firebase-tools
    - npm run simpletest
    - echo "testing successfully"


