@tailwind base;
@tailwind components;
@tailwind utilities;


/* https://redpixelthemes.com/blog/tailwindcss-hide-scrollbar/ */
/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* https://medium.com/@davidfalconbernhard/how-to-animate-once-on-page-load-in-react-js-e357fd899a4b */
.fade-in-hello {
    animation: fade 0.5s ease-in;
}
@keyframes fade {
    0% {
        opacity: 0;
    }
}

/* https://www.w3schools.com/howto/howto_css_dropdown.asp */
.dropdown-content a:hover {background-color: #bfdbfe;}

.dropdown:hover .dropdown-content {
    display: inline-block; 
    }

.dropdown:hover .dropbtn {background-color: #bfdbfe;}